.fixed-width {
	width: 120px !important;
}

.center {
	margin: auto;
	width: 50%;
}

body {
	margin: 20px;
}

ul {
	margin: 2px;
}

li {
	margin: 5px;
}

form {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
}